body{
    text-align: center;
    background-color: azure;
     
}
h1{
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    
}
p{
    font-family: cursive;
    font-size: 25px;
    
}
img{
    border: solid 2px black;
    border-radius: 30px;
}